.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  margin-top: 1em;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);

  .copyright-container {
    padding: 2%;
    font-size: 12px;
    font-weight: 300;
    color: #81a4cd;
  }
}
.back-to-top-wrapper {
  // margin: 0.9em 0 2em 0.2em;
  // background-color: #666eb3;
  // color: #ebebeb;
  width: 20%;
  padding: 1%;
  text-align: center;

  // a {
  //   letter-spacing: normal;
  //   &:visited {
  //     color: #000000;
  //   }
  // }
}
